<ion-header>
  <ion-toolbar>
    <ion-title>Daftar Buku</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let book of books">
      <ion-label>
        <h2>{{ book.title }}</h2>
        <p>{{ book.author }}</p>
      </ion-label>

      <ion-button (click)="openModal(book)">Edit</ion-button>
      <ion-button color="danger" (click)="deleteBook(book.id)">Hapus</ion-button>
    </ion-item>
  </ion-list>

  <!-- Tombol tambah -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openModal()">
      +
    </ion-fab-button>
  </ion-fab>

</ion-content>